body {
    color: aliceblue;
}
#root {
    margin: 0;
    width: 100%;
}
#root div {
    margin: 0;
}

/* Main Div */
.main {
    min-width: 400px;
    background-color:rgba(0, 0, 0, 0.65);
    border-radius: 1em;
    box-shadow:0 0 1em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:5vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

/* Main Header */
h2 {
    color: LightCyan;
    padding: 0;
    margin: 0;
}

/* Div that wraps around the To Do List */
.todolist {
    width: 100%;
}

/* To Do List - un-ordered list */
ul {
    list-style: none; 
    padding: 10px 0;
    margin: 0;
}

ul li {
    text-decoration: none;
    padding: 10px;
}

/* Style for task when marked as completed */
.completed {
    text-decoration: line-through;
    color: slategray;
}

/* Form */
input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:rgba(255, 255, 255, 0.85);
  }

button {
    margin: 5%;
    padding: 5%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4e54c8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
  
button:hover {background-color: #3e43a1}
  
button:active {
    background-color: #3e43a1;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}